# Formatting
black

# Project
pyquaternion
einops
spconv-cu120
# opencv-python version higher than 4.5.x may not support ffmpeg (can't make videos),
# See https://github.com/NVIDIA/DALI/issues/5052 for details.
opencv-python==4.5.5.62
multiprocess
# Will be removed in future
easydict

# Dataset
nuscenes-devkit
lyft-dataset-sdk
onnxruntime
pycuda==2024.1
colored
onnx_graphsurgeon
python-lzf
paramiko